@font-face {
    font-family: bine;
    src: url('../assets/Fonts/Fontspring-DEMO-biennale-bold.otf');
}
@font-face {
    font-family: poppins;
    src: url(../assets/Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../assets/Fonts/Roboto-Regular.ttf);
}

.home{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.page1{
    width: 100vw;
    height: 90vh;
    position: relative;
    background-image: url('../assets/photos/Home/page1.png');
}

.page1 h1{
    position: absolute;
    font-family: bine;
    font-size: 3rem;
    top: 250px;
   left: 340px;
   z-index: 10;
}

.page1 button{
    position: absolute;
    font-family: bine;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 35px;
    border: none;
    top: 400px;
   left: 340px;
   z-index: 10;
   color: #FFFFFF;
   background-color: #00D0DD;
}


.page1 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }


.page2{
    width: 100vw;
    height: 640px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background-image: url('../assets/photos/Home/page2.png');
    text-align: center;
    padding: 50px 20vw;
}

.page2 h2{
    font-family: roboto;
}

.page2 h1{
    font-family: roboto;
}
.page2 p{
    font-size: 16px;
    letter-spacing: 1px;
    font-family: poppins;
}

.page2 .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.page2 button{
    background-color: #00D0DD;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-family: bine;
}

.subscribe-input{
    position: relative;
    
}



.subscribe-btn{
    height: 40px;
    display: flex;
    gap: 10px;
    width: 187px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #00D0DD;
    border-radius: 30px;
    align-items: center;
    padding-left: 15px;
    justify-content: space-between;
}

.subscribe-btn p{
    padding: 0;
}

.circle{
    padding: 0 10px;
    border-radius:16px;
    background-color: white;
    margin-right: 5px;
}

.circle-arrow{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;  
}

.page2 input{
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    height: 50px;
    width:40vw;
    padding-left: 20px;
    font-family: bine;    
}

.page4 input{
    background-color: #00D0DD;
    border-radius: 30px;
    border: none;
    height: 50px;
    width:40vw;
    padding-left: 20px;
    font-family: bine;
}

.page3{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
}
.page3 .box .box-div .box-inner h3{
    font-family: poppins;
}
.page3 .box{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20vw;
    align-items: center;
    gap: 8vw;
}
.page3 h2{
    font-family: poppins;
}
.box-inner{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.page3 img{
    height: 60px;
    width: 60px;
}

.box-inner::hover{
    scale: 1.1;
}

.box-div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page4{
    background-image: linear-gradient(to right,rgb(0, 26, 65), rgb(0, 43, 70), rgb(1, 61, 75));
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: column ;
    padding: 50px 0;
    text-align: center;
    gap: 40px;
}

Link{
    text-decoration: none;
}

.page4 h2{
    font-size: 42px;
    font-family: poppins;
}

.page4 img{
    width: 95vw;
}

.page5{
    width: 100vw;
    display: flex;
    flex: 1;
}

.page5-left_section{
    width: 50vw;

}

.page5-left_section img{
    width: 50vw;
    height: 100%;
    object-fit: cover;
}

.page5-right_section{
    width: 50vw;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 100px 50px 100px;
}

.page5-right_section h2{
    font-style: 800;
    font-size: 40px;
    font-family: poppins;
}

.page5-right_section p{
    font-size: 26px;
    font-family: poppins;

}

.page5-right_section button{
    display: flex;
    justify-content:space-between ;
    background-color: transparent;
    border: 1px black solid;
    width: 20vw;
    padding: 2vh;
    border-radius: 50px;
    align-items: center;
}

.page6{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 8vw;
    align-items: center;
    justify-content: space-between;
    background-image: url('../assets/photos/Home/backdrop.png');
}

.page6-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.page6 .page6-left h2{
    font-size: 50px;
    font-family: poppins;
    font-weight: 600;
}

.page6 .page6-left p{
    font-size: 25px;
    font-family: poppins;
    font-weight: 200;
}

.page6-right form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:  5vh 2.5vw;
    margin-left: 5vw;
    color: black;
    border-radius: 20px;
}

.page6-right label{
    font-size: 26px;
}

.page6-right input,select{
    height: 60px;
    border-radius: 10px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8;
    padding-left: 15px;
    background-color: transparent;
}

.page6-right textarea{
    border-radius: 10px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8;
    padding-top: 10px;
    padding-left: 15px;
    background-color: transparent;
}

.page6-right button{
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #00D0DD;
    text-align: left;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
    
