nav{
    width: 100%;
    overflow-x: hidden;
    padding: 0 50px;
    height: 10vh;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 30px;
  }
  
  nav ul li{
    list-style: none;
    font-size: 20px;
    text-decoration: none;
  }
  
  nav img{
    height: 7vh;
  }
  
  nav button{
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid #00D0DD;
    background-color: #00D0DD;
    border-radius: 10px;
  }