.nft-marketplace{
    height: 100%;
    width: 100%;
}

.page-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.content-left{
    font-family: 'poppins', sans-serif;
    width: 329px;
    height: 100vh;
    background: #DCDADA;
    margin: 15px;
    border-radius: 25px 20px;
    display: flex;
    
    gap: 40px;
    flex-direction: column;
    color: #000000;
}

.content-left img{
    width: 200px;
    margin: 20px;
}



.content-middle{
    width: 1200px;
    height: 100vh;

    border-radius: 20px;
}

.content-right{
    width: 329px;
    height: 100vh;
    margin: 15px;
    padding-top: 15px;
    align-items: center;
} 

.marketplace{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    color: #6D6D6D;
    text-align: left;
    padding-left: 30px;
}

.account{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    color: #6D6D6D;
    text-align: left;
    padding-left: 30px;
}

.sidebar-heading{
    font-size: 32px;
    color: #000000;
}

.topbar{
    height: 12vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color: #000000;
    gap: 30px;
}
.wallet{
    background-color: #DCDADA;
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.notification{
    padding: 7px 15px;
    background-color: #DCDADA;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.notification img{
    width: 30px;
}

.topbar input{
    width: 70%;
    height: 60%;
    border-radius: 20px;
    border: none;

    padding-left: 30px;
    background-color: #DCDADA;
    
}

.create-nft{
    height: 350px;
    border-radius: 20px;
    display: flex;
    background-image: url('../assets/photos/bgNFT.png');
    align-items: center;
    gap: 70px;
}

.create-nft img{
    height: 300px;
    padding-left: 30px;
}

.create-nft-left{
    margin-left: 60px;
    width: 500px;
}

.create-nft-left h1{
    font-family: 'poppins',sans-serif;
    font-size: 60px;
    font-family: 700;
    margin-bottom: 20px;
}

.create-nft-left .button1{
    padding: 5px 25px;
    border-radius: 20px;
    color: white;
    background-color:#00D0DD;
    border: none;
    font-size: 20px;
}

.create-nft-left .button2{
    padding: 5px 25px;
    border-radius: 20px;
    color: white;
    background-color:transparent;
    border: 1px solid #00D0DD;
    margin-left: 20px;
    font-size: 20px;
}

.user{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
}

.cards-section{
    margin-bottom: 10px;
}






